.wrapper{
	background: #f8f8f8;
}
.d-inline-block{
	display: inline-block;
}
tbody tr.clickable:hover {
    cursor: pointer;
    background:wheat !important;
}
.img-responsive{
	max-width: 100%;
}

.grid_view .product_name{
    height: 3rem;
    overflow: hidden;
    line-height: 1.5;
}
header{
    position: relative;
    display: block;
    overflow: hidden;
    padding:30px 0;
}